<% include header %>

<% include nav %>

<div id="holder">
    <div id="top">
        <div class="pull-left"> 
            <select class="form-control" id="stakeholder" name="stakeholder">
                <option value="" disabled selected>WHAT IS YOUR STAKEHOLDER GROUP?</option>
                <option value="students">Students</option>
                <option value="faculty">Faculty</option>
                <option value="community-members">Community Members</option>
                <option value="netter-staff">Netter Staff</option>
                <option value="alumni-patrons">Almni and Patrons</option>
            </select>
        </div>
        <div class="pull-right"></div>
    </div>
    <hr id="main_hr">
    <div id="mid">
        <img src="/img/face.jpeg" height=100px width=100px />
        <span class="vert"></span>
        <div id="intro">
            <input class="form-control" type="text" name="name" placeholder="name">
            <hr class="small_hr">
            <input class="form-control" type="text" name="email" placeholder="email address">
            <hr class="small_hr">
            <input class="form-control" type="text" name="phone" placeholder="phone number">
        </div>
    </div>
    <div id="description">
        <textarea class="form-control" rows="7" placeholder="In less than 100 words, please describe your affiliation with The Netter Center. Consider the following: 1) In what capacity have you worked with The Netter Center? and 2) What has been the focus of your involvement?"></textarea>
    </div>
    <hr id="main2_hr">
    <div class="info-horiz">
        <br>Select all tags that are relevant to your involvement with The Netter Center. Tags act as labels for your profile, so that other users can quickly identify key characteristics of your involvement. Other users will be able to search, connect, and collaborate with you based on your tags.</br>
        <table>
            <tr>
                <td id="att1">Attribute 1</td>
                <td class="tags">
                    <input class="form-control" type="text" name="att3-tags" placeholder="enter your tag(s) here">
                </td>
            </tr>
            <tr>
                <td id="att2">Attribute 2</td>
                <td class="tags">
                    <input class="form-control" type="text" name="att3-tags"placeholder="enter your tag(s) here">
                </td>
            </tr>
            <tr>
                <td id="att3">Attribute 3</td>
                <td class="tags">
                    <input class="form-control" type="text" name="att3-tags" placeholder="enter your tag(s) here">
                </td>
            </tr>
        </table>
    </div>
</div>

<% include footer %>