<% include header %>

<% include nav %>

<div id="holder">
    <div id="top">
        <div class="pull-left"> <input class="form-control" type="text" name="stakeholder" placeholder="WHAT IS YOUR STAKEHOLDER GROUP?"></div>
        <div class="pull-right"></div>
    </div>
    <hr id="main_hr">
    <div id="mid">
        <img src="/img/face.jpeg" height=100px width=100px />
        <span class="vert"></span>
        <div id="intro">
            <input class="form-control" type="text" name="name" placeholder="name">
            <hr class="small_hr">
            <input class="form-control" type="text" name="email" placeholder="email address">
            <hr class="small_hr">
            <input class="form-control" type="text" name="phone" placeholder="phone number">
        </div>
    </div>
    <div id="description">
        <textarea class="form-control" rows="7" placeholder="Tell us about yourself."></textarea>
    </div>
    <hr id="main2_hr">
    <div class="info-horiz">
        <table>
            <tr>
                <td>Attribute 1</td>
                <td class="tags">
                    <input class="form-control" type="text" name="att3-tags" placeholder="enter your tag(s) here">
                </td>
            </tr>
            <tr>
                <td>Attribute 2</td>
                <td class="tags">
                    <input class="form-control" type="text" name="att3-tags"placeholder="enter your tag(s) here">
                </td>
            </tr>
            <tr>
                <td>Attribute 3</td>
                <td class="tags">
                    <input class="form-control" type="text" name="att3-tags" placeholder="enter your tag(s) here">
                </td>
            </tr>
        </table>
    </div>
</div>

<% include footer %>