<footer>
  <div>
    <span>&#169; 2015</span>
  </div>
</footer>
<% if (title === "Create Profile") { %>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<% } %>
</body>
</html>