<footer>
  <div>
    <span>&#169; 2015</span>
  </div>
</footer>
<% if (title === "Create Profile") { %>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<% } %>
<% if (title === "Results") { %>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<% } %>
</body>
</html>