<% include header %>

<main role="main">
  <div class="container">
    <a href="/"><img id="logo" src="/img/login-NCD.jpg"/></a>
    <br />
    <% include flash %>
    <button id="login-button" class="act-btn login-button">LOG IN</button>
    <div id="login-div" style="display: none;">
      <form id="login-form" method="POST" action="/validate">
          &nbsp;&nbsp;<input type="text" name="username" placeholder="username" pattern=".{4,}" required title="4 characters minimum"//>
          <br />
          &nbsp;&nbsp;<input type="password" name="password" placeholder="password" pattern=".{6,}" required title="6 characters minimum"//>
          <br />
          <button type="submit" class="act-btn login-button" style="width:90px; height: 44px">LOGIN</button>
      </form>
    </div>
    <br />
    <button id="create-button" class="act-btn create-button">CREATE AN ACCOUNT</button>
    <div id="create-div" style="display: none;">
      <form id="register-form" method="POST" action="/create-user">
        &nbsp;&nbsp;<input type="text" name="username" placeholder="username" pattern=".{4,}" required title="4 characters minimum"//>
        <br />
        &nbsp;&nbsp;<input type="password" name="password" placeholder="password" pattern=".{6,}" required title="6 characters minimum"//>
        <br />
        &nbsp;&nbsp;<input type="password" name="repassword" placeholder="re-enter password" pattern=".{6,}" required title="6 characters minimum"//>
        <br />
        <button type="submit" class="act-btn create-button" style="width:90px; height: 44px">CREATE</button>
      </form>
    </div>
  </main>
</div>

<% include footer %>