<!DOCTYPE html>
<html lang='en'>

<head>
<% include head %>
<link rel='stylesheet' href='/css/index.css'>
</head>

<body>
  <main>
    <div class='container'>
      <a href='/'><img id='logo' src='/img/login-NCD.png'/></a>
      <% include flash %>
      <div class='helptext'>New to the NCD? Create an account below.</div>
      <div id='create-div'>
        <form id='register-form' method='POST' action='/create-user'>
          <input type='text' name='username' placeholder='username' pattern='.{4,}' required title='4 characters minimum'/></br>
          <input type='password' name='password' placeholder='password' pattern='.{6,}' required title='6 characters minimum'/></br>
          <input type='password' name='repassword' placeholder='re-enter password' pattern='.{6,}' required title='6 characters minimum'/></br>
          <button type='submit' class='act-btn create-button'>CREATE</button>
        </form>
      </div>
      <div class='helptext'>Already have an account? Please login below.</div>
      <button id='login-button' class='act-btn login-button'>LOG IN</button>
      <div id='login-div' style='display: none;'>
        <form id='login-form' method='POST' action='/validate'>
          <input type='text' name='username' placeholder='username' pattern='.{4,}' required title='4 characters minimum'/></br>
          <input type='password' name='password' placeholder='password' pattern='.{6,}' required title='6 characters minimum'/></br>
          <button type='submit' class='act-btn login-button'>LOG IN</button>
        </form>
      </div>
    </div>
  </main>

  <% include footer %>
  <% include scripts %>
  <script type='text/javascript' src='/js/index.js'></script>
</body>
</html>