<% include header %>

<% include nav %>

<div id="holder">
    <div id="top">
        <div class="pull-left">Stakeholder Group</div>
        <div class="pull-right">last updated XX.XX.XXXX</div>
    </div>
    <hr id="main_hr">
    <div id="mid">
        <img src="/img/face.jpeg" height=100px width=100px />
        <span class="vert"></span>
        <div id="intro">
            Name Lastname
            <hr class="small_hr">
            email@gmail.com
            <hr class="small_hr">
            555.555.5555
        </div>
    </div>
    <div id="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt velit orci, id bibendum neque lobortis vel. Vestibulum eros magna, maximus nec nisi eu, pulvinar hendrerit lorem. Donec nec elementum ligula, et placerat nisi. Morbi mi sem, viverra in purus ut, tincidunt aliquam odio. Maecenas nec sapien quis turpis aliquet ultricies vitae sit amet nibh. Aenean luctus justo eros, quis accumsan lacus gravida sed. Cum sociis.
    </div>
    <hr id="main2_hr">
    <div class="info-horiz">
        <table>
            <tr>
                <td>Experience</td>
                <td class="tags">
                    <span class="tag">volunteer</span>
                    <span class="tag">university of pennsylvania</span>
                    <span class="tag">students</span>
                    <span class="tag">athlete</span>
                    <span class="tag">owls</span>
                </td>
            </tr>
            <tr>
                <td>Program/Group</td>
                <td class="tags">
                    <span class="tag">after-school program</span>
                    <span class="tag">philly schools</span>
                    <span class="tag">students</span>
                    <span class="tag">temple university</span>
                </td>
            </tr>
            <tr>
                <td>Site</td>
                <td class="tags">
                    <span class="tag">netter center directory</span>
                    <span class="tag">class of 2015</span>
                    <span class="tag">quakers</span>
                    <span class="tag">blue mountain school district</span>
                </td>
            </tr>
        </table>
    </div>
</div>

<% include footer %>