<% include header %>
<% include nav %>

<div class="container">
	<div id="filter_pane">

		<div id="filter_title">
			FILTER SEARCH RESULTS BY:
		</div>

		<div id="filter_options">
			option one.
		</div>
	</div>


	<div id="results_pane">

		<div id="results_header">
			Number search results for term.
		</div>

		<div id="single_result">
			<div id="rect">
			</div>

			<div id="circle"></div>

			<div id="profile_body">
				Small batch gluten-free irure, mollit lo-fi before 
				they sold out church-key Etsy +1. Williamsburg McSweeneys 
				anim nisi pug, quis direct trade tousled organic Echo Park. 
				Aute chambray iPhone twee asymmetrical, meditation banh mi PBR&B 
				meggings Tumblr Godard sint kogi retro. Meggings semiotics literally, 
				chillwave vero disrupt Intelligentsia wayfarers mollit ea. Assumenda
				 meditation plaid normcore et quinoa. Occaecat wolf iPhone sustainable. 
				 Yr in freegan gentrify dolor.!
			</div>

		</div>

	</div>
</div>
<% include footer %>