@font-face {
    font-family: Edmondsans-Regular;
    src: url(/fonts/Edmondsans-Regular.otf);
}

@font-face {
    font-family: Edmondsans-Medium;
    src: url(/fonts/Edmondsans-Medium.otf);
}

main {
    color: #4d4d4d;
    width: 60%;
    height: 100%;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 80px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
    font-size: .8em;
    font-family: Edmondsans-Regular;
}

#stakeholder {
    margin: auto;
    width: 32%;
}

#group-hr {
    background-color: #bebfc1;
    height: 3px;
    width: 100%;
    margin-bottom: 10px;
}

.personal-hr {
    background-color: #bebfc1;
    height: 2px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#personal-info {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#personal-info input {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    border: 0;
    box-shadow: none;
    text-align: center;
}

#description-text {
    background-color: #e6e7e9;
}

textarea {
    resize: none;
    font-family: Edmondsans-Regular;
}

#description-hr {
    background-color: #d4d5d7;
    height: 3px;
    width: 100%;
    margin-top: 15px;
}

.tag {
    background-color: #d1d3d4;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
}

td {
    padding: 5px;
    padding-right: 15px;
}

td input, .tokensContainer {
    width: 100px;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

#submit-btn-wrapper {
    text-align: center;
    margin-top: 20px;
    font-family: Edmondsans-Medium;
}
