#holder {
    color: #4d4d4d;
    width: 40%;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: white;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
    font-size: .8em;
}

#main_hr {
    background-color: #d4d5d7;
    /*background-color: #005dff;*/
    height: 3px;
    width: 100%;
    margin-bottom: 10px;
}

#main2_hr {
    background-color: #d4d5d7;
    height: 3px;
    width: 100%;
    margin-top: 15px;
}

#mid {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.circle .image-wrap {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

.vert {
    margin-left: 20px;
    border-left: medium #4d4d4d solid;
    height:100px;
}

#stakeholder {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

#intro {
    /*position: absolute;*/
    display: inline;
    width: 150px;
    /*margin-left: 20px;*/
}

.small_hr {
    background-color: #bebfc1;
    height: 2px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tag {
    background-color: #d1d3d4;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
}

td {
    /*border-right: 3px solid black;*/
    padding: 5px;
    padding-right: 15px;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

#intro input {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    border: 0;
    box-shadow: none;
    text-align: center;
}

#top input {
    height: 20px;
    font-size: 13px;
    line-height: 14px;
    width: 300px;
}

textarea {
    resize: none;
}

.tag-select {
    width: 320px;
}
