@font-face {
    font-family: Edmondsans-Regular;
    src: url(/fonts/Edmondsans-Regular.otf);
}

@font-face {
    font-family: Edmondsans-Medium;
    src: url(/fonts/Edmondsans-Medium.otf);
}

.act-btn {
    margin-top: 20px;
    width: 40%; 
    font-family: Edmondsans-Regular;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.helptext {
    margin-top: 10px;
    font-family: Edmondsans-Regular;
}

.login-button {
	background-color: #a8a9ad;
	color: white;
    border: none;
    width: 30%;
    height: 10%;
}

.create-button {
    background-color: #990304;
    color: white;
    border: none;
    width: 30%;
    height: 10%;
}

#logo {
    width: 100%;
}

#newuser {

}

input {
    margin-top: 20px;
    width: 215px; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-left: 10px;
    border: none;
    font-family: Edmondsans-Regular;
}

