a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: grey;
}

main {
    color: #4d4d4d;
    width: 60%;
    height: 100%;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 80px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
    font-size: .8em;
    font-family: Edmondsans-Regular;
}

td {
    padding: 5px;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

hr {
    width: 100%;
    border: none;
}

#top-hr {
    background-color: #005dff;
    height: 3px;
    margin-top: 35px;
}

#bottom-hr {
    background-color: #d4d5d7;
    height: 3px;
    margin-top: 15px;
}

.small-hr {
    background-color: #bebfc1;
    height: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#mid {
    padding: 20px;
}

#personal-info {
    position: absolute;
    display: inline;
    width: 150px;
    margin-left: 20px;
    font-size: 125%;
    padding-top: 2%;
}

#stakeholder {
    font-size: 150%;
    font-family: Edmondsans-Medium;
}

#bio {
    padding-top: 25px;
    font-size: 115%;
}

.circle .image-wrap {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

.tag-labels {
    font-family: Edmondsans-Medium;
}

.tag {
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    font-size: 110%;
}

.category-section {
    font-size: 125%;
}

#pro-pic {
    width: 40%;
    max-width: 300px;
    max-height: 300px;
}