@font-face {
    font-family: Edmondsans-Regular;
    src: url(/fonts/Edmondsans-Regular.otf);
}

@font-face {
    font-family: Edmondsans-Medium;
    src: url(/fonts/Edmondsans-Medium.otf);
}


#holder {
    color: #4d4d4d;
    width: 60%;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 80px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
    font-size: .8em;
    font-family: Edmondsans-Regular;

}

#main_hr {
    background-color: #005dff;
    height: 3px;
    width: 100%;
    margin-top: 35px;
    border: none;
}

#main2_hr {
    background-color: #d4d5d7;
    height: 3px;
    width: 100%;
    margin-top: 15px;
    border: none;
}

#mid {
    padding: 20px;
    padding-bottom: 25%;
}

#intro {
    position: absolute;
    display: inline;
    width: 150px;
    margin-left: 20px;
    font-size: 125%;
    padding-top: 2%;
}

#stakeholder {
    font-size: 150%;
    font-family: Edmondsans-Medium;
}

.circle .image-wrap {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

.vert {
    margin-left: 20px;
    border-left: medium #4d4d4d solid;
    height:100px;
}

.small_hr {
    background-color: #bebfc1;
    height: 2px;
    width: 100%;
    margin-top: 5%;
    border: none;
    margin-bottom: 5%;
}

.tag {
    background-color: #d1d3d4;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
}

td {
    /*border-right: 3px solid black;*/
    padding: 5px;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}
