/*SEARCH RESULTS PAGE—
filter search results by:  Edmondsans 11pt, medium…letter spacing is 70
alumni & patrons, netter staff, faculty, etc…: 10pt, regular…letter spacing is 50
9,999 search results…: 10pt, regular…letter spacing is 20
name last name, last updated…: 10pt, regular…letter spacing is 70
bio…: 12pt, regular…letter spacing is 50
volunteer, philly schools, students, etc…: 9pt, regular…letter spacing is 50

colored lines are 2px wide
gray lines are 1px wide*/


.container {
    margin: 10px;
    margin-top: 30px;
    width: 100%;
}

#filter-pane {
    height:70%;
    width:20%;
    float:left;
    padding-top:0px;
    margin-right: 80px;
    border: 1px solid #787876;
}

#filter-title {
    background-color: #A30000;
    color: white;
    vertical-align: center;
    font: 11px, Edmondsans, Helvetica, Arial, sans-serif;;
    float:top;
    vertical-align: middle;
    height: 10%;
}


#filter-options {
    background-color: white;
    height: 70%;

}

#legend-title {
    background-color: #A30000;
    color: white;
    vertical-align: center;
    font: 11px, Edmondsans, Helvetica, Arial, sans-serif;;
    float:top;
    vertical-align: middle;
    height: 10%;
}

#legend-pane {
    height:70%;
    width:20%;
    float:left;
    padding-top:0px;
    margin-right: 80px;
    border: 1px solid #787876;
}

#legend {
    background-color: white;
    height: 70%;

}

#results-pane {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
    padding-top:0px;
}


#results-header {
    background-color: white;
    height: 40px;
}


/*STYLE FOR EACH RESULT - SHOULD ALL BE CLASSES*/
.single-result {
    background-color: white;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rect {
    height: 60%;
    background-color: #0000FF;
    width: 3.5%;
    float: left;
    margin-top: 25px;
    margin-right: 25px;
}

.little-box {
    height: 5%;
    background-color: #0000FF;
    width: 5%;
    float: left;
    margin-top: 25px;
    margin-right: 25px;
}


.circle {
    float:left;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    border: 2px solid #0000FF;
    margin-top: 25px;
    margin-right: 20px;
    background-image: url('/img/face.jpeg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.inset-pic {
    margin: 1px;
}

.profile-body {

}


.name {

}

.updated {

}

.user-description {
    float: left;
    font: 11px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 90px;
    width: 400px;
    margin-top: 25px;
    text-align: left;
    display: block; /* Fallback for non-webkit */
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags {


}