a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #EA6045;
}

a:hover {
    color: #2F3440;
}


main {
    margin: 10px;
    margin-top: 30px;
    width: 100%;
    padding-top: 10px;
    text-align: left;
}

#left {
    width: 300px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 60px;
    font: 11px;
}

#filter-pane {
    width: 250px;
    float:left;
    padding-top:0px;
    margin-bottom: 10px;
    border: 1px solid #787876;
}

#filter-title {
    background-color: #A30000;
    color: white;
    vertical-align: center;
    float:top;
    vertical-align: middle;
    height: 10%;
    text-align: center;
    font-family: Edmondsans-Regular;
}

#filter-options {
    padding-left: 5px;
    background-color: white;
    height: 70%;
    font-family: Edmondsans-Regular;
}

#legend-pane {
    width: 250px;
    height:150px;
    float:left;
    padding-top:0px;
    border: 1px solid #787876;
}

#legend-title {
    background-color: #A30000;
    color: white;
    vertical-align: center;
    float:top;
    vertical-align: middle;
    height: 20px;
    text-align: center;
    font-family: Edmondsans-Regular;
}

#legend-body {
    padding-left: 5px;
    background-color: white;
    height: 125px;
    font-family: Edmondsans-Regular;
}

#results-pane {
    margin-top: 20px;
    margin-right: 200px;
    width: 50%;
    float: right;
    padding-top:0px;
}

#results-header {
    background-color: white;
    height: 40px;
    text-align: center;
}

.single-result {
    background-color: white;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rect {
    height: 60%;
    background-color: #0000FF;
    width: 3.5%;
    float: left;
    margin-top: 25px;
    margin-right: 25px;
}

.circle {
    float:left;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    border: 2px solid #0000FF;
    margin-top: 25px;
    margin-right: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.inset-pic {
    margin: 1px;
}

.name {
    font-size: 120%;
    margin-top: 3%;
}

.updated {
    float: right;
    color: gray;
    font-size: 80%;
    padding-right: 3%;
    padding-top: 4%;
}

.user-description {
    font-size: 90%;
    font-family: Edmondsans-Regular;
    width: 70%;
    text-align: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags {
    display: block;
    float: bottom;
    vertical-align: bottom;
}

.littlebox {
    position: relative;
}
.littlebox {
    padding-left: 30px;
}

.littlebox .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 10px;
    top: 5px;
}